body{
       /* Amandeep Aujla/
    /* TO DO: Find a font family*/

    /* Blue: #115f9a
       Green: #71b21d 
       Light-Grey: #d6d6d6
       Gray: #585858*/
       padding: 0;
       margin: 0;
       font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
       font-weight: normal;
       line-height: 1.5;
       color: #0a0a0a;
       background: #1c1c1c;
       -webkit-font-smoothing: antialiased;
}

.body-design{
    z-index: -1;
    background-image: url("/Assets/CentennialCollege.jpg");
    background-size: 100% auto;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: #1c1c1c;
   
}

.dark-container{
    background-color: #1c1c1c;
    width: 100%;
    height: 100vh;
    /*position: fixed;*/
    opacity: 0.9;
}

.login-box{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    padding: 20px;
    opacity: 1;
    color: white;
    background: #115f9a;
    
    
}

.login-box h5 {
    font-size: 1.4em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.green-color{
    background-color: #71b21d;
}


.main-layout-box{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    background-color: white;
}

.inner-layout-box{
    padding: 10%;
}
.nav-bar-style{
    height: 20px;
    min-height: 4em;
    background-color: #563d7c;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}

.my-heading{
    color: #71b21d ;
    font-size: 2.6em;
    font-weight: 1;
}

.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.box.grid.recipes img {
    width: 100%;
    margin-bottom: 30px;
}

img {
    vertical-align: middle;
    border-style: none;
}

.box.grid.recipes {
    margin-bottom: 40px;
    padding-bottom: 30px;
    text-align: center;
    border: 1px solid #dedede;
}
.box.grid.recipes .by {
    padding: 10px 15px;
    text-align: left;
    color: #fff;
    background-color: #71b21d;
}
.box.grid.recipes h2 a {
    color: #333;
}

.box.grid.recipes .tag, .box.grid.recipes h2, .box.grid.recipes p {
    padding-right: 15px;
    padding-left: 15px;
}