<% include ../partials/header.ejs %>
    <div class="main-layout-box">

    <div class="inner-layout-box">

<!-- Page Content -->
    
     <div class="row">
     <div class="my-heading">Checkout Your Order</div>
     <hr class="style-one">
     </div>

        <div class="row">
    <form class="form-inline">

    <div class="col-md-9">
             <div class="form-group">
             <table class="table table-condensed">
                <tr>
                <td><label>Item</label></td>
                <td><label>Price</label></td>
                <td><label>Quantity</label></td>
                </tr>

                <tr>
                <td><input type="text" class="form-control" id="" placeholder="Item 2" disabled></td>
                <td> <input type="text" class="form-control" id="" placeholder="12" disabled></td>
                <td><input type="text" class="form-control" id="" placeholder="1" disabled></td>
                </tr>

                <tr>
                <td><input type="text" class="form-control" id="" placeholder="Item 3" disabled></td>
                <td> <input type="text" class="form-control" id="" placeholder="12" disabled></td>
                <td><input type="text" class="form-control" id="" placeholder="1" disabled></td>
                </tr>
            
                <tr>
                <td><label>Pick up</label></td>
                <td> <input type="text" class="form-control" id="" placeholder="" disabled></td>
                <td></td>
                </tr>

                <tr>
                <td><label>Time</label></td>
                <td> <input type="text" class="form-control" id="" placeholder="@0:00 am/pm" disabled></td>
                <td></td>
                </tr>
        
        
           </table>
            </div>
            
             <div class="form-group">
             <table class="table table-condensed">
                <tr>
                <td> <label>Reoccuring On
                </tr>

                <tr>
                <td></td>
                <td> <input type="text" class="form-control" id="" placeholder="@Monday" disabled></td>
                <td><input type="text" class="form-control" id="" placeholder="Time" disabled></td>
                </tr>

                <tr>
                <td></td>
                <td> <input type="text" class="form-control" id="" placeholder="@Tuesday" disabled></td>
                 <td><input type="text" class="form-control" id="" placeholder="Time" disabled></td>
                </tr>

                <tr>
                <td></td>
                <td> <input type="text" class="form-control" id="" placeholder="@Wednesday" disabled></td>
                 <td><input type="text" class="form-control" id="" placeholder="Time" disabled></td>
                </tr>

                <tr>
                <td></td>
                <td> <input type="text" class="form-control" id="" placeholder="@Thursday" disabled></td>
                 <td><input type="text" class="form-control" id="" placeholder="Time" disabled></td>
                </tr>

                <tr>
                <td></td>
                <td> <input type="text" class="form-control" id="" placeholder="@Friday" disabled></td>
                 <td><input type="text" class="form-control" id="" placeholder="Time" disabled></td>
                </tr>

                <tr>
                <td></td>
                <td></td>
                </tr>
             </table>
    
    
    
    </div>
    </div>
    <!--left div-->
    <div class="col-md-3">
    <div class="cart">
      <form class="form-horizontal">
      
      <div class="form-group">
          <label>Sub-Total</label>
          <input type="text" class="form-control" id="" placeholder=""  disabled>
      </div>

      <div class="form-group">
         <label>GST</label>
          <input type="text" class="form-control" id="" placeholder=""  disabled>
      </div>

      <div class="form-group">
        <label>Grand-Total</label>
          <input type="text" class="form-control" id="" placeholder=""  disabled>
      </div>

       <div class="form-group">
      </div>
      
      <div class="form-group">
      <br/>
        <button type="button" class="btn btn-primary">Checkout</button>
      </div>
    </form>

    </div>
    
    </div><!--right div-->
     </form>
    </div><!--row-->
     











      
    </div>

      </div>
   <% include ../partials/footer.ejs %>