<% include ../partials/header.ejs %>
    <div class="main-layout-box">

    <div class="inner-layout-box">

<!-- Page Content -->
    
     <div class="row">
     <div class="my-heading">Checkout Your Order</div>
     <hr class="style-one">
     </div>

        
     <!-- Heading Row -->
      <div class="row">
        <div class="col-lg-8">
         
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
          <h1>Business Name or Tagline</h1>
          <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p>
          <a class="btn btn-primary btn-lg" href="#">Call to Action!</a>
        </div>
        <!-- /.col-md-4 -->
      </div>
      <!-- /.row -->

      
    </div>

      </div>
   <% include ../partials/footer.ejs %>