<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CafeCentennial</title>

 <!-- Custom StyleSheet -->
     <link href="/Content/reset.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="/Scripts/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/Scripts/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
    <link href="/Content/app.css" rel="stylesheet">
  </head>

  <body class="body-design">
   <script src ="/Scripts/lib/jquery/dist/jquery.min.js"></script>
   <script src="/Scripts/lib/bootstrap/dist/js/bootstrap.js"></script>
  
  <div class="dark-container">
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">CafeCentennial</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">0 Credits</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User Name <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Order History</a></li>
            <li><a href="#">Create Recurring Orders</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Orders</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Sign Out</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    <div class="main-layout-box">

    <div class="inner-layout-box">

<!-- Page Content -->
    
     <div class="row">
     <div class="my-heading">Checkout Your Order</div>
     <hr class="style-one">
     </div>

        
     <!-- Heading Row -->
      <div class="row">
        <div class="col-lg-8">
         
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
          <h1>Business Name or Tagline</h1>
          <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p>
          <a class="btn btn-primary btn-lg" href="#">Call to Action!</a>
        </div>
        <!-- /.col-md-4 -->
      </div>
      <!-- /.row -->

      
    </div>

      </div>
   
   </div>
  

    
  </body>

</html>