<% include ../partials/header.ejs %>


   


        <div class="row">
        <div class="large-8 columns large-centered text-center">
        <div class="login-box">
         <div class="inner-login-box">
         <h5>Welcome -Ammu-</h5>
         <form class="form-horizontal" method="post">
              <div class="form-group">
                <label>Available Balance</label>
                <label>$11.40</label>
              </div>
              <div class="form-group">
                <label>Minimum Balance required</label>
                <label>$10.00</label>
              </div>
              <div class="form-group">
                <a class="white-color" href="#" data-toggle="collapse" data-target="#demo">Load Credit <span class="glyphicon glyphicon-download" aria-hidden="true"></span></a>
              </div>

              <div id="demo" class="collapse">
              <div class="form-group">
                <label for="" class="col-sm-3 control-label">Name</label>
                <div class="col-sm-9"> <input type="text" name="" class="form-control" id="" placeholder="Amandeep Aujla" required></div>
              </div>

              <div class="form-group">
                <label for="" class="col-sm-3 control-label">Credit Card</label>
                <div class="col-sm-9"><input type="text" name="" class="form-control" id="" placeholder="Enter 16 digits #" pattern ="[0-9]{16}" required></div>
              </div>

              <div class="form-group">
                <label for="" class="col-sm-3 control-label">CVC</label>
                 <div class="col-sm-9"><input type="password" name="" maxlength="3" class="form-control" id="" placeholder="xxx" required></div>
              </div>

              <div class="form-group">
                <label for="" class="col-sm-3 control-label"></label>
                <div class="col-sm-9"><button type="submit" class="btn green-color pull-right">Load</button></div>
            </div>

            </div>
              
             
            </form>

            </div>
            </div>
            </div>
            </div>
      
      


    
  <% include ../partials/footer.ejs %>