<% include ../partials/header.ejs %>

        <div class="row">
        <div class="large-8 columns large-centered text-center">
        <div class="login-box">
         <div class="inner-login-box">
          <% if (creditMessage!='' && creditMessage.length > 0) { %>
        <div class="alert alert-primary"><%= creditMessage %></div>
      <% } %>
         <h5>Welcome <%= user %></h5>
         <form class="form-horizontal" method="post" action="/credits">
              <div class="form-group">
                <label>Available Balance </label>
                <label>CAD:<%= userCredit %></label>
              </div>
              <% if(balRequired!='') { %>
              <div class="form-group">
                <label>Minimum Balance required for this order </label>
                <label>CAD:<%= balRequired %></label>
              </div>
              <% } %>
              <div class="form-group">
                <a class="white-color" href="#" data-toggle="collapse" data-target="#demo">Load Credit <span class="glyphicon glyphicon-download" aria-hidden="true"></span></a>
              </div>

              <div id="demo" class="collapse">
              <div class="form-group">
                <label for="" class="col-sm-3 control-label">Name</label>
                <div class="col-sm-9"> <input type="text" name="cardHolderName" class="form-control" id="" placeholder="Card Holder Name" required></div>
              </div>

              <div class="form-group">

                <label for="" class="col-sm-3 control-label">Credit Card</label>
                <div class="col-sm-9"><input type="text" name="cardNumber" class="form-control" id="" placeholder="Enter 16 digits credit/debit card #" pattern ="[0-9]{16}" required></div>

              </div>

              <div class="form-group">
                <label for="" class="col-sm-3 control-label">CVV</label>
                 <div class="col-sm-9"><input type="password" name="cardCvv" maxlength="3" pattern ="[0-9]{3}" class="form-control" id="" placeholder="xxx" required></div>
              </div>

              <div class="form-group">
                <label for="" class="col-sm-3 control-label">Amount</label>
                 <div class="col-sm-9"><input type="text" name="amount" class="form-control" id=""  required></div>
              </div>

              <div class="form-group">
                <label for="" class="col-sm-3 control-label"></label>
                <div class="col-sm-9"><button type="submit" class="btn green-color pull-right">Load</button></div>
            </div>

            </div>
              
             
            </form>

            </div>
            </div>
            </div>
            </div>

           
       <div class="large-12 columns text-center white-color">
        <h2 class="demo" data-in-effect="fadeInLeft">
          <span aria-label="Fogafín" style="visibility: hidden;">
          <span class="word1" aria-hidden="true" aria-label="Fogafín" style="display: inline-block; transform: translate3d(0px, 0px, 0px);">
          <span class="char1" aria-hidden="true" style="display: inline-block; visibility: visible;">Y</span>
          <span class="char2" aria-hidden="true" style="display: inline-block; visibility: visible;">o</span>
          <span class="char3" aria-hidden="true" style="display: inline-block; visibility: visible;">u</span>
          <span class="char4" aria-hidden="true" style="display: inline-block; visibility: visible;">r</span>
          <span class="char5" aria-hidden="true" style="display: inline-block; visibility: visible;"></span>
          <span class="char6" aria-hidden="true" style="display: inline-block; visibility: visible;">F</span>
          <span class="char7" aria-hidden="true" style="display: inline-block; visibility: visible;">a</span>
          <span class="char7" aria-hidden="true" style="display: inline-block; visibility: visible;">v</span>
          <span class="char7" aria-hidden="true" style="display: inline-block; visibility: visible;">o</span>
          <span class="char7" aria-hidden="true" style="display: inline-block; visibility: visible;">u</span>
          <span class="char7" aria-hidden="true" style="display: inline-block; visibility: visible;">r</span>
          <span class="char7" aria-hidden="true" style="display: inline-block; visibility: visible;">i</span>
          <span class="char7" aria-hidden="true" style="display: inline-block; visibility: visible;">t</span>
          <span class="char7" aria-hidden="true" style="display: inline-block; visibility: visible;">e</span>
          <span class="char7" aria-hidden="true" style="display: inline-block; visibility: visible;">s</span>
          </span></h2>
          <h1> <span class="glyphicon glyphicon-heart" aria-hidden="true"></span></h1>

        <!--=============================================================================================================================================================-->
          <div class ="row">
         
      
          <div class="favourites">
           <div class="col-lg-4 col-sm-6">
           
            <div class="box grid recipes">
            <input type="hidden" name="" value="">
            <div class="by2">Tim hortons</div>
            <input type="hidden" name="itemName" value="">
            <!--TO DO: Amandeep: For Jishnu: Here is thing, items can only be added into the cart from here, - is to remove any item from favourite, i have to find a way to make it appear in the way that it looks like minus is to remove item from cart-->
            <div class="items-tag">
            itemName1
            <a data-toggle="collapse" title="Add into cart" href="#" aria-expanded="false" aria-controls="collapseExample"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <a href="#" title="Remove item" aria-expanded="false" aria-controls="collapseExample"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></a>
            </div><!--tag-->

            <div class="items-tag">
            itemName1
            <a data-toggle="collapse" href="#" aria-expanded="false" aria-controls="collapseExample"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <a href="#" aria-expanded="false" aria-controls="collapseExample"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></a>
            </div><!--tag-->

            <div class="items-tag">
            itemName1
            <a data-toggle="collapse" href="#" aria-expanded="false" aria-controls="collapseExample"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <a href="#" aria-expanded="false" aria-controls="collapseExample"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></a>
            </div><!--tag-->

            </div><!--grid box recepies-->
            </div>


          <div class="col-lg-4 col-sm-6">
            <div class="box grid recipes">
            <input type="hidden" name="price" value="">
            <div class="by2">Price: 2</div>
            <input type="hidden" name="itemName" value="">
            <h2>itemName</h2>
            <div class="tag">
           <!--TO DO: I can change this to like icon, not sure why it is for-->
            <a data-toggle="collapse" href="#" aria-expanded="false" aria-controls="collapseExample"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
            <a href="#" aria-expanded="false" aria-controls="collapseExample"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></a>
            </div><!--tag-->
            </div><!--grid box recepies-->
          </div>

           <div class="col-lg-4 col-sm-6">
            <div class="box grid recipes">
            <input type="hidden" name="price" value="">
            <div class="by2">Subway</div>
            <input type="hidden" name="itemName" value="">
            <h2>itemName</h2>
            <div class="tag">
           <!--TO DO: I can change this to like icon, not sure why it is for-->
            <a data-toggle="collapse" href="#" aria-expanded="false" aria-controls="collapseExample"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
            <a href="#" aria-expanded="false" aria-controls="collapseExample"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></a>
            </div><!--tag-->
            </div><!--grid box recepies-->
          </div>

           <div class="col-lg-4 col-sm-6">
            <div class="box grid recipes">
            <input type="hidden" name="price" value="">
            <div class="by2">Pizza Pizza</div>
            <input type="hidden" name="itemName" value="">
            <h2>itemName</h2>
            <div class="tag">
           <!--TO DO: I can change this to like icon, not sure why it is for-->
            <a data-toggle="collapse" href="#" aria-expanded="false" aria-controls="collapseExample"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
            <a href="#" aria-expanded="false" aria-controls="collapseExample"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></a>
            </div><!--tag-->
            </div><!--grid box recepies-->
          </div>

            </div><!--col-->

        
        </div>
       

    
  <% include ../partials/footer.ejs %>