
<% include ../partials/header.ejs %>

    <div class="main-layout-box">

    <div class="inner-layout-box">

      <div class="row">
      <div class="my-heading">Choose any Restaurant</div>
      <hr class="style-one">
      </div>

 <% if (message!='' && message.length > 0) { %>
        <div class="alert alert-success"><%= message %></div>
      <% } %>

          <div class="row">
            
               <% for (let count = 0; count < restaurants.length; count++) {  %>
                <% let redirectLink = "/restaurant/"+restaurants[count].name %>
    <div class="col-xs-6 col-md-4">
            <button onclick="window.location.href='<%= redirectLink %>'" type="button" class="btn btn-primary btn-lg btn-block"><%=   restaurants[count].name %></button>
            </div>
        
<% } %> 
          </div>
          </div>

      
    </div>

    </div>
   
   <% include ../partials/footer.ejs %>