<% include ../partials/header.ejs %>
    <div class="main-layout-box">

    <div class="inner-layout-box">

      <div class="row">
      <div class="my-heading">Choose any Restaurant</div>
      <hr class="style-one">
      </div>

          <div class="row">
            <div class="col-xs-6 col-md-4">
            <button type="button" class="btn btn-primary btn-lg btn-block">Restaurant 1</button>
            </div>
            <div class="col-xs-6 col-md-4">
            <button type="button" class="btn btn-primary btn-lg btn-block">Restaurant 2</button>
            </div>
            <div class="col-xs-6 col-md-4">
            <button type="button" class="btn btn-primary btn-lg btn-block">Restaurant 3</button>
            </div>
          </div>
          </div>

      
    </div>

    </div>
   
   <% include ../partials/footer.ejs %>