 <% include ../partials/header.ejs %>

 
 <div class="large-12 columns text-center white-color">
        <h2 class="demo" data-in-effect="fadeInLeft">
          <span aria-label="Fogafín" style="visibility: hidden;">
          <span class="word1" aria-hidden="true" aria-label="Fogafín" style="display: inline-block; transform: translate3d(0px, 0px, 0px);">
          <span class="char1" aria-hidden="true" style="display: inline-block; visibility: visible;">N</span>
          <span class="char2" aria-hidden="true" style="display: inline-block; visibility: visible;">o</span>
          <span class="char3" aria-hidden="true" style="display: inline-block; visibility: visible;">t</span>
          <span class="char4" aria-hidden="true" style="display: inline-block; visibility: visible;">i</span>
          <span class="char5" aria-hidden="true" style="display: inline-block; visibility: visible;">f</span>
          <span class="char6" aria-hidden="true" style="display: inline-block; visibility: visible;">i</span>
          <span class="char7" aria-hidden="true" style="display: inline-block; visibility: visible;">c</span>
          <span class="char7" aria-hidden="true" style="display: inline-block; visibility: visible;">a</span>
          <span class="char7" aria-hidden="true" style="display: inline-block; visibility: visible;">t</span>
          <span class="char7" aria-hidden="true" style="display: inline-block; visibility: visible;">i</span>
          <span class="char7" aria-hidden="true" style="display: inline-block; visibility: visible;">o</span>
          <span class="char7" aria-hidden="true" style="display: inline-block; visibility: visible;">n</span>
          <span class="char7" aria-hidden="true" style="display: inline-block; visibility: visible;">s</span>
          </span></h2>
          <h1> <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></h1>
</div>

<div class="row">
        <div class="large-8 columns large-centered text-center">
        <div class="login-box">
         <div class="inner-login-box">
    
         <h5>Welcome Ammu</h5>

         <p>Your order has been placed. bla bla bla akjsefiauldsn fadshfbasdjlfbv asjadshgbcjhadbshjadbcjhadbcjhadbschjbadsjcb</p>

    </div>
    </div>
    </div>
    </div>

<% include ../partials/footer.ejs %>