<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title %></title>

 <!-- Custom StyleSheet -->
     <link href="/Content/reset.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="/Scripts/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/Scripts/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/Content/app.css" rel="stylesheet">
  </head>

  <body class="body-design">
   <script src ="/Scripts/lib/jquery/dist/jquery.min.js"></script>
   <script src="/Scripts/lib/bootstrap/dist/js/bootstrap.js"></script>
  <div class="dark-container">


    <div class="row">
        <div class="large-8 columns large-centered text-center">
        <div class="login-box">
        <h5>Login<h5>
        
        <!--========================Login Form=============================-->
       <% if (messages.length > 0) { %>
        <div class="alert alert-danger"><%= messages %></div>
      <% } %>
      
           <form method="post">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address (for activation only)</label>
                <input type="email" name="emailId" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">Please enter your Centennial email</small>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Username</label>
                <input type="text" name="username" class="form-control" id="exampleInputPassword1"  required>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
              </div>
              
              <button type="submit" class="btn green-color">Login</button>
            </form>
        </div>
        <div>
    <div>

      


      </div>
   
   </div>
  


  </body>

</html>