<% include ../partials/header.ejs %>

<div class="main-layout-box">

    <div class="inner-layout-box">


    <div class="row">
        <div class="large-8 columns large-centered text-center">
        <div class="login-box">
         <div class="inner-login-box">
          <% if (creditMessage!='' && creditMessage.length > 0) { %>
        <div class="alert alert-primary"><%= creditMessage %></div>
      <% } %>
         <h5>Welcome <%= user %></h5>
         <form class="form-horizontal" method="post" action="/credits">
              <div class="form-group">
                <label>Available Balance </label>
                <label>CAD:<%= userCredit %></label>
              </div>
              <% if(balRequired!='') { %>
              <div class="form-group">
                <label>Minimum Balance required for this order </label>
                <label>CAD:<%= balRequired %></label>
              </div>
              <% } %>
              <div class="form-group">
                <a class="white-color" href="#" data-toggle="collapse" data-target="#demo">Load Credit <span class="glyphicon glyphicon-download" aria-hidden="true"></span></a>
              </div>

              <div id="demo" class="collapse">
              <div class="form-group">
                <label for="" class="col-sm-3 control-label">Name</label>
                <div class="col-sm-9"> <input type="text" name="cardHolderName" class="form-control" id="" placeholder="Card Holder Name" required></div>
              </div>

              <div class="form-group">

                <label for="" class="col-sm-3 control-label">Credit Card</label>
                <div class="col-sm-9"><input type="text" name="cardNumber" class="form-control" id="" placeholder="Enter 16 digits credit/debit card #" pattern ="[0-9]{16}" required></div>

              </div>

              <div class="form-group">
                <label for="" class="col-sm-3 control-label">CVV</label>
                 <div class="col-sm-9"><input type="password" name="cardCvv" maxlength="3" pattern ="[0-9]{3}" class="form-control" id="" placeholder="xxx" required></div>
              </div>

              <div class="form-group">
                <label for="" class="col-sm-3 control-label">Amount</label>
                 <div class="col-sm-9"><input type="text" name="amount" class="form-control" id=""  required></div>
              </div>

              <div class="form-group">
                <label for="" class="col-sm-3 control-label"></label>
                <div class="col-sm-9"><button type="submit" class="btn green-color pull-right">Load</button></div>
            </div>

            </div>
              
             
            </form>

            </div>
            </div>
            </div>
            </div>



    </div><!--inner layout box-->

    </div><!--main layout box-->

<% include ../partials/footer.ejs %>